.archive-video {
  display: flex;
  gap: 30px;
}

.archive-video__wrapper {
  display: flex;
  width: 35%;
  flex-shrink: 0;
  align-self: flex-start;
  overflow: hidden;
  border-radius: 20px;

  video {
    width: 100%;
    height: auto;
  }
}

.archive-video__meta {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.archive-video__title {
  margin: 0;
}

.archive-video__excerpt {
  margin: 10px 0;
}

.archive-video__date {
  margin-top: auto;
  font-size: 14px;
  line-height: 1;
  font-weight: 900;
}
