.banner {
  display: flex;
  height: 900px;
  padding-top: 140px;

  background: @zink-light url('../../img/pic_products_bg@x1.jpg') 50% 0;
  background-size: cover;
}

.banner__column {
  justify-content: center;
  align-items: flex-start;
}

.banner__buttons {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.banner__title {
  font-size: 48px;
  line-height: 55px;
}
