.block-text-double__left {
  padding-right: 100px;
  border-right: 1px solid @zink;
}

.block-text-double__right {
  padding-left: 100px;
}

.block-text-double__left,
.block-text-double__right {
  padding-top: 50px;
  padding-bottom: 50px;
}

.block-text-double__columns {
  gap: 0;
}
