.box {
  width: 100%;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 50px;
  padding-bottom: 50px;

  &--wide {
    padding-right: 50px;
    padding-left: 50px;
  }

  &--center {
    padding-right: calc(75px + 7.9%);
    padding-left: calc(75px + 7.9%);
  }

  &--padding-tb-none {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--padding-rl-none {
    padding-right: 0;
    padding-left: 0;
  }

  &--padding-none {
    padding: 0;
  }

  &--lightgray {
    background-color: @zink-light;
  }

  &--gray {
    color: white;
    background-color: @zink;

    a {
      color: white;

      &:hover,
      &:focus {
        color: @red;
      }

      &:active {
        color: @red-light;
      }
    }
  }
}

.box__title {
  margin-bottom: 50px;
}

.box__content {
  display: flex;
  flex-direction: column;

  margin-top: 30px;

  p {
    margin-top: 7px;
    margin-bottom: 7px;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &--margin-none {
    margin-top: 0;
  }
}

@media (max-width: @break-point-0) {
  .box {
    padding-left: 50px;
    padding-right: 50px;

    &--wide {
      padding-right: 35px;
      padding-left: 35px;
    }

    &--center {
      padding-left: 50px;
      padding-right: 50px;
    }

    &--padding-tb-none {
      padding-top: 0;
      padding-bottom: 0;
    }

    &--padding-rl-none {
      padding-right: 0;
      padding-left: 0;
    }

    &--padding-none {
      padding: 0;
    }
  }
}

@media (max-width: @break-point-2) {
  .box {
    padding-top: 30px;
    padding-bottom: 30px;

    &--padding-tb-none {
      padding-top: 0;
      padding-bottom: 0;
    }

    &--padding-none {
      padding: 0;
    }
  }

  .box__title {
    margin-bottom: 40px;
  }
}

@media (max-width: @break-point-3) {
  .box {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 30px;
    padding-left: 30px;

    &--padding-tb-none {
      padding-top: 0;
      padding-bottom: 0;
    }

    &--padding-none {
      padding: 0;
    }
  }

  .box__title {
    margin-bottom: 25px;
  }

  .box__content {
    margin-top: 20px;

    &--margin-none {
      margin-top: 0;
    }
  }
}
