.button {
  .transition();

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 11px 18px;

  color: @zink;
  line-height: 1.2;
  text-decoration: none;
  font-weight: 900;
  text-align: center;

  border: none;
  background: none;
  border-radius: 18px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: @red;
    border-color: @red;
  }

  &:active {
    color: @red-dark;
    border-color: @red-dark;
  }

  &--border {
    border: 1px solid @zink;
  }

  &--red {
    .shadow(@red);

    z-index: 1;
    color: white;
    background-color: @red;

    &:hover,
    &:focus {
      background-color: @red-light;
      color: white;

      &::after {
        background-color: @red-light;
      }
    }

    &:active {
      background-color: @red-dark;

      &::after {
        background-color: @red-dark;
      }
    }
  }

  &--white {
    .shadow(white);

    z-index: 1;
    color: @red;
    background-color: white;

    &:hover,
    &:focus {
      color: @zink;
    }

    &:focus {
      outline: 1px dotted white;
    }

    &:active {
      color: @zink-dark;
    }
  }

  &--big {
    padding: 21px 35px;
    font-size: 18px;
    border-radius: 25px;
  }

  &--bottom {
    margin-top: 30px;
    align-self: flex-start;
  }
}
