.defence__columns {
  gap: 0;
}

.defence__image-wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  border-radius: 60px;
}

.defence__wrapper {
  position: relative;
  width: 100%;
}

.defence__sign {
  position: absolute;
  z-index: 20;
  top: 50%;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;

  border-radius: 50%;
  background-color: white;
  transform: translate(50%, -50%);

  svg {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
  }
}

.defence__left {
  align-items: center;
}

.defence__right {
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 150px;
}

.defence__name {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
}

.defence__excerpt {
  margin: 5px 0 0 0;
}

.defence__button {
  margin-top: 20px;
}

@media (max-width: @break-point-2) {
  .defence__image-wrapper {
    border-radius: 50px;
  }

  .defence__right {
    padding-left: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .defence__sign {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: @break-point-tablet) {
  .defence__right {
    gap: 15px;
    padding: 0 30px;
    margin-top: 70px;
  }

  .defence__sign {
    right: 50%;
    bottom: 0;
    top: auto;

    transform: translate(50%, 50%);
  }
}

@media (max-width: @break-point-3) {
  .defence__right {
    padding: 0;
  }

  .defence__button {
    align-self: center;
  }

  .defence__image-wrapper {
    border-radius: 30px;
  }
}

@media (max-width: @break-point-mobile) {
  .defence__right {
    border-radius: 20px;
  }

  .defence__sign {
    width: 100px;
    height: 100px;
  }

  .defence__right {
    margin-top: 60px;
  }
}
