.footer {
  display: flex;
  background-color: @zink;
  color: white;

  a {
    color: white;

    &:hover,
    &:focus {
      opacity: @hover-opacity;
    }

    &:focus {
      outline: 1px dotted white;
    }

    &:active {
      opacity: @active-opacity;
    }
  }
}

.footer__title {
  margin: 0;
  font-weight: 900;
}

.footer__menu {
  display: flex;
  margin-top: 15px;
}

.footer__menu-container {
  .list-style-none();

  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer__menu-item {
  a {
    align-self: flex-start;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.footer__social {
  margin-top: 30px;
  margin-left: -3px;
}

.footer__left,
.footer__center,
.footer__right {
  justify-content: space-between;
}

.footer__right {
  align-items: flex-end;
}

.footer__contact {
  margin-top: 30px;

  p {
    margin: 5px 0 0 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

.footer__big-text {
  font-size: 36px;
  line-height: 1;
  font-weight: 900;
  text-decoration: none;
}

.footer__addresses {
  margin-top: 50px;
}

.footer__address {
  margin-top: 20px;

  address {
    margin-top: 3px;
    font-style: normal;
  }
}

.footer__logo {
  svg {
    .transition(svg);

    fill: white;
  }
}

.footer__copyright {
  margin: 30px 0 0 0;
}

@media (max-width: @break-point-tablet) {
  .footer__title {
    &--first-column {
      display: none;
    }
  }

  .footer__menu-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 30px;
    margin: 0;
  }

  .footer__social {
    justify-content: center;
    margin-top: 50px;
  }

  .footer__center {
    text-align: center;
  }

  .footer__contacts,
  .footer__addresses {
    margin-top: 20px;
  }

  .footer__right {
    align-items: center;
  }

  .footer__logo {
    margin-top: 50px;
  }
}

@media (max-width: @break-point-4) {
  .footer__big-text {
    font-size: 24px;
    line-height: 1;
  }
}

@media (max-width: @break-point-mobile) {
  .footer__logo {
    margin-top: 30px;
  }
}
