.form {
  position: relative;
}

.form__input {
  .transition();

  position: relative;

  height: 70px;
  width: 100%;
  padding: 0 30px;

  color: @blue;

  background: none;
  border-radius: 10px;
  border:1px solid @blue;

  &::placeholder {
    color: @blue;
  }

  &:focus {
    background-color: @lightblue;
    outline-offset: 3px;
    outline: dotted 1px @blue;
  }

  &--small {
    height: 40px;
    padding: 0 60px 0 20px;
    margin-top: 10px;
    color: #ffffff;
    border-color: #ffffff;
    opacity: 0.6;

    &::placeholder {
      color: #ffffff;
    }

    &:focus {
      background-color: @darkblue;
      opacity: 1;
      outline-offset: 3px;
      outline: dotted 1px #ffffff;
    }
  }

  &--high {
    height: 300px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &--error {
    border-color: @red;
    color: @red;

    &::placeholder {
      color: @red;
    }

    &:focus {
      background-color: @pink;
      outline-offset: 3px;
      outline: dotted 1px @red;
    }
  }
}

.form__small-submit {
  .transition();

  position: absolute;
  right: 20px;
  bottom: 8px;

  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.6;

  svg {
    fill: #ffffff;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.8;
  }
}

.form__label {
  margin: 0 0 10px 30px;
}

.form__submit {
  margin-top: 30px;
  align-self: center;
}

.form__row {
  display: flex;
  flex-direction: column;
  margin-top: 25px;

  &:first-of-type {
    margin-top: 0;
  }

  &--nomargin {
    margin-top: 0;
  }

  &--cells {
    flex-direction: row;
    gap: 30px;
  }

  &--frame {
    padding: 30px;
    border: 1px solid @skyblue;
    border-radius: 10px;
  }
}

.form__cell {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &--1-2 {
    width: 50%;
  }

  &--1-3 {
    width: 33.33%;
  }

  &--full {
    width: 100%;
  }
}

.form__link {
  span {
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    span {
      text-decoration: none;
    }
  }
}

.form__divider {
  height: 1px;
  margin: 30px 0;
  background-color: @blue;
  opacity: 0.25;
}

.form__subtitle {
  margin: 15px 0;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.form__title {
  margin-top: 50px;

  &--in-cell {
    margin-top: auto;
    margin-bottom: 20px;
  }
}

.form__checkbox {
  &--margin {
    margin-left: 30px;
  }
}

.form__result {
  margin-top: 30px;
}

@media (max-width: @break-point-3) {
  .form__row {
    &--cells {
      flex-wrap: wrap;
      gap: 25px;
    }
  }

  .form__cell {
    &--1-2,
    &--1-3 {
      width: 100%;
    }
  }

  .form__title {
    &--in-cell {
      margin-bottom: 0;
    }
  }
}

@media (max-width: @break-point-4) {
  .form__input {
    padding: 0 20px;

    &--high {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .form__label {
    margin: 0 0 10px 20px;
  }

  .form__checkbox {
    &--margin {
      margin-left: 0;
    }
  }

  .form__row {
    &--frame {
      padding: 20px;
    }
  }
}
