.menu-top {
  display: flex;
  width: 100%;
}

.menu-top__close {
  display: none;
}

.menu-top__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 0 50px;

  border: 1px solid @zink;
  border-radius: 28px;
}

.menu-top__container {
  .list-style-none();

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu-top__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-top__link {
  color: @zink;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus {
    color: @red;
  }

  &:active {
    color: @red-dark;
  }
}

.menu-top__overlay {
  display: none;
}

@media (max-width: @break-point-1) {
  .menu-top__wrapper {
    padding: 0 30px;
  }
}

@media (max-width: @break-point-2) {
  .menu-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;
    padding: 50px 120px 50px 0;

    pointer-events: none;

    &--active {
      pointer-events: auto;

      .menu-top__overlay {
        transition-duration: 0.5s;
        opacity: 1;
      }

      .menu-top__wrapper {
        transition-delay: 0.2s;
        transition-duration: 0.4s;
        transform: translateX(0);
      }

      .menu-top__close {
        transition-delay: 0.4s;
        transition-duration: 0.4s;
        opacity: 1;
        transform: rotate(45deg);
      }
    }

    &--closed {
      .menu-top__overlay {
        transition-duration: 0.4s;
        transition-delay: 0.6s;
      }

      .menu-top__wrapper {
        transition-delay: 0.4s;
        transition-duration: 0.4s;
      }

      .menu-top__close {
        transition-delay: 0.1s;
        transition-duration: 0.4s;
      }
    }
  }

  .menu-top__overlay {
    .transition();

    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
  }

  .menu-top__wrapper {
    .transition();

    position: relative;
    z-index: 1020;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    padding-left: 100px;

    background-color: white;
    border: none;
    border-radius: 0 50px 50px 0;
    transform: translateX(-200%);
  }

  .menu-top__link {
    font-size: 20px;
    line-height: 25px;
    text-align: left;
  }

  .menu-top__close {
    .transition();

    position: absolute;
    z-index: 1030;
    top: 55px;
    right: 50px;

    display: block;
    width: 30px;
    height: 30px;

    background: none;
    border: none;
    cursor: pointer;
    opacity: 0;

    &::after,
    &::before {
      .transition();

      position: absolute;
      background-color: white;
      border-radius: 2px;
      content: '';
    }

    &::before {
      top: 50%;
      left: 0;
      width: 100%;
      height: 4px;
      transform: translateY(-50%);
    }

    &::after {
      top: 0;
      left: 50%;
      width: 4px;
      height: 100%;
      transform: translateX(-50%);
    }

    &:hover,
    &:focus {
      &::before,
      &::after {
        background-color: @red;
      }
    }

    &:active {
      &::before,
      &::after {
        background-color: @red-light;
      }
    }
  }
}

@media (max-width: @break-point-2) {
  .menu-top {
    padding: 30px 80px 30px 0;
  }

  .menu-top__container {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .menu-top__close {
    top: 35px;
    right: 30px;
  }
}

@media (max-width: @break-point-3) {
  .menu-top {
    padding: 25px 50px 25px 0;
  }

  .menu-top__close {
    top: 30px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
}

@media (max-width: @break-point-4) {
  .menu-top__wrapper {
    padding-left: 50px;
  }

  .menu-top__link {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: @break-point-mobile) {
  .menu-top__wrapper {
    padding-left: 30px;
  }
}
