.pluses__item {
  align-items: flex-start;
  justify-content: center;

  &--down {
    transform: translateY(30px);
  }
}

.pluses__links {
  justify-content: center;
  gap: 15px 30px;
  margin-top: 50px;
}
