.social {
  display: flex;
  gap: 5px 15px;
  flex-wrap: wrap;

  a {
    display: flex;

    svg {
      .transition(svg);

      fill: @zink;
    }

    &:hover,
    &:focus {
      svg {
        fill: @red-light;
      }
    }

    &:active {
      svg {
        fill: @red-dark;
      }
    }
  }

  &--white {
    a {
      svg {
        .transition(svg);

        fill: white;
      }

      &:hover,
      &:focus {
        svg {
          fill: white;
        }
      }

      &:active {
        svg {
          fill: white;
        }
      }
    }
  }
}

.social__title {
  display: none;
  margin: 0;
  font-weight: 900;
}

@media (max-width: @break-point-tablet) {
  .social {
    gap: 5px 25px;

    a {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  .social__title {
    display: block;
  }
}

@media (max-width: @break-point-mobile) {
  .social__title {
    width: 100%;
  }
}
