.title {
  margin: 0;
  font-family: "Museo", "Arial", sans-serif;
  font-weight: 900;

  &--regular {
    font-size: 16px;
    line-height: 24px;
  }

  &--medium {
    font-size: 18px;
    line-height: 28px;
  }

  &--big {
    font-size: 24px;
    line-height: 28px;
  }

  &--huge {
    font-size: 36px;
    line-height: 40px;
  }

  &--thin {
    font-size: 62px;
    line-height: 70px;
    font-weight: 300;
  }

  &--center {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: @break-point-1) {
  .title {
    &--thin {
      font-size: 50px;
      line-height: 55px;
    }
  }
}

@media (max-width: @break-point-4) {
  .title {
    &--huge {
      font-size: 28px;
      line-height: 32px;
    }

    &--thin {
      font-size: 40px;
      line-height: 42px;
    }
  }
}

@media (max-width: @break-point-mobile) {
  .title {

  }
}
