.aligncenter,
.alignleft,
.alignright,
.wp-image-wrap,
.wp-caption {
  align-self: center;
  margin: 30px;

  img {
    max-width: 600px;
  }
}

.wp-caption {
  .wp-image-wrap {
    margin: 0;
  }
}

.wp-caption-text {
  padding: 15px 30px 0 30px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 900;
}

.wp-image-wrap {
  overflow: hidden;
  border-radius: 50px;
}

.wp-block-quote {
  padding: 30px;
  border-radius: 30px;
  background-color: @zink-light;
}

.wp-block-highlight {
  font-size: 24px;
  line-height: 32px;
}

.menu-top__container {
  .current-menu-item {
    a {
      color: @red;
    }
  }
}

.footer__menu-container {
  .current-menu-item {
    a {
      text-decoration: underline;
    }
  }
}


@media (max-width: @break-point-1) {
  .wp-image-wrap {
    border-radius: 40px;
  }
}

@media (max-width: @break-point-3) {
  .aligncenter,
  .alignleft,
  .alignright,
  .wp-image-wrap,
  .wp-caption {
    margin: 20px 0;
  }

  .wp-block-quote {
    padding: 15px 20px;
    border-radius: 20px;
  }

  .wp-image-wrap {
    border-radius: 30px;
  }
}

@media (max-width: @break-point-mobile) {
  .aligncenter,
  .alignleft,
  .alignright,
  .wp-image-wrap,
  .wp-caption {
    margin: 15px 0;
  }

  .wp-caption-text {
    padding: 10px 15px 0 15px;
  }
}
